.menu {
    text-align: right;
    font-size: 24px;
}
.menu:hover{
    color: green;
    font-size: 26px;
}

#logo{
    text-align: center;
}

#txtbox {
    text-align: center;
    padding: 11px;
}

button {
    padding: 7px;
    border: 8px;
    margin: 11px;
}

button:hover {
    color:white;
    background:black;
}